# В этом файле можно оставлять комментарии
# Имя файла .gitignore
# Файл нужно создать самостоятельно

# Каждая строчка — это шаблон, по которому происходит игнорирование

# Игнорируем файл в любой директории проекта
access.log
CMakeLists.txt.users

# Игнорируем директорию в любой директории проекта
#node_modules/

# Игнорируем каталог в корне рабочей директории
/build/
